nav {
  text-align: center;
  @include padding(30px null null null);
  margin-bottom: 2em;

  .blog-title {
    font-size: golden-ratio(40px,  1);;
    text-transform: capitalize;
    margin: 0;

    a {
      padding: 0 0.2em;
    }
  }

  p.blog-description {
    margin-top: -0.3em;
    margin-bottom: 0;
    color: $medium-gray;
  }

  .blog-lang {
    font-size: 13px;
    color: $medium-gray;
  }
}
