@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=PT+Sans|Nunito:300,400);

@import "bourbon";
@import "base/base";
@import "neat";

#main {
  @include outer-container;

  .footnotes {
    hr { display: none; }
  }
}

.article-links {
  margin-top: 1em;
  @include outer-container;

  .previous-link { @include span-columns(6); }
  .next-link {
    @include span-columns(6);
    text-align: right;
  }
}

@import "partials/nav";
@import "partials/layouts";
@import "partials/tags";
@import "partials/footer";
