<footer>
  <div class="footer-blog">
    <p>
      I'm Ikhsan and this is my blog for my thoughts on codes and the likes. All other stuff are on my main blog, <a href="http://ikhsan.me">Lifeage</a>. Get in touch via Twitter <a href="http://twitter.com/ixnixnixn">@ixnixnixn</a> or email <a href="mailto:ikhsan.assaat@gmail.com">ikhsan.assaat@gmail.com</a>.
    </p>
  </div>

  <%= partial "partials/footer-links" %>

</footer>
