<div class="footer-links">
  <ul>
    <li><a href="http://twitter.com/ixnixnixn">Twitter</a></li>
    <li><a href="http://github.com/ikhsan">Github</a></li>
    <li><a href="http://ikhsan.me">Lifeage</a></li>
  </ul>

  <div class="copyright">
    <p>&copy; Codage 2009–<%= Date.today.year %></p>
  </div>
</div>
