<nav>
  <h1 class="blog-title"><%= link_to "Codeage", "/" %></h1>
  <p class="blog-description">
    Pardon my ramblings about code and such
  </p>
  <div class="blog-lang">
    <% if I18n.locale == :en %>
    <strong>English</strong> / <a href="/id">Bahasa</a>
    <% elsif I18n.locale == :id %>
    <a href="/">English</a> / <strong>Bahasa</strong>
    <% end %>
  </div>
</nav>
